examples/source.yaml
examples/target.yaml
configs/

*.dump
*.sql
*.tar
*.backup
*.zip

examples/*

bin/
bin/data-transfer

vendor/

*.o
*.a
*.so

*.log

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.env
.env.local

.idea/
.vscode/
*.swp
*.swo

build/
dist/
